/****** Main Styling ******/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #356c7a;
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

a {
  color: #fff;
}

a:hover {
  color: #808080;
}


input {
  display: block;
  position: relative;
  margin: 10px auto;
}

.view {
  position:relative;
  margin: auto;
  margin-top: 40px;
  border: 2px  solid  #67d4f0;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  min-width: 400px;
  background-color: #E5E7EB;
  color: #000;
}

input#button {
  width: 180px;
  height: 35px;
  background-color: #356c7a;
  border: 1px solid #808080;
  color: #fff;
  font-weight: 300;
  border-radius: 4px;
  font-size: 1.5rem;
}

input#button:hover {
  background-color: #67d4f0;
}